##
# Project-specific
##

debug.log
debug.log.*
ems.db


##
# Maven/Java
##

*.class
*.jar
target/
jar/
package/

# JVM crash logs
hs_err_pid*

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

##
# IntelliJ IDEA
##

*.idea
*.iml

##
# Dia
##

*.autosave

##
# Platform-specific
##

# Linux
*~
*.swp
*.tmp
*.bak
*.old
*.un~
.directory

# Mac
._*
.DS_Store
.AppleDouble
.LSOverride
__MACOSX

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
